@{
    bool result = (bool)ViewBag.Result;
    bool passwordError = (bool)ViewBag.PasswordError;
    int? idUsuario = (int?)ViewBag.IdUsuario;
    string otp = string.IsNullOrEmpty(ViewBag.OTP) ? string.Empty : ViewBag.OTP.ToString();
}

@if (result == true)
{
    <h2>Ingrese su nueva contraseña</h2>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   
    using (Html.BeginForm("UpdatePassword", "Login", FormMethod.Post))
    {
        @Html.Hidden("idUsuario", idUsuario)
        @Html.Hidden("otp", otp)
        <div style ="padding-top: 90px; ">
            <div class="row justify-content-center mt-5" style="height: 538px; padding-right: 1500px">
                <div class="col-md-6 col-lg-4">
                    <div class="card" style="width: 1300px;   border: 0px solid rgba(0,0,0,1); background-color: #F0EAE5; height: 700px">
                        <center>
                            <div class="card-body" style="width: 50%; height: 50%; margin-top:560px">
                                <div class="form-group">
                                    @Html.Label(null, "Ingrese su nueva contraseña", new { @class = "form-label" })
                                    @Html.Password("password", null, new { @class = "form-control", required = "required" })
           
                                </div>

                                <div class="form-group">
                                    @Html.Label(null, "Confirme contraseña", new { @class = "form-label" })
                                    @Html.Password("confirmPassword", null, new { @class = "form-control", required = "required" })
           
                                </div>

                                <button type="submit" class="btn btn-primary">Confirmar Cambio</button>
                                <button type="submit" class="btn btn-primary">Confirmar Cambio</button>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
        </div>

        @if (passwordError)
        {
            <script>
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'No Coinciden',
                    confirmButtonText: 'Aceptar'
                });
            </script>
        }
    }
}
else
{
    <script>
        Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'Enlace Expirado',
            confirmButtonText: 'Aceptar'
        });
    </script>
    <div class="text-center">
        <a onclick="location.href='@Url.Action("ForgotPassword", "Login")'" class="btn btn-link">Reintentar</a>
    </div>
}

